/* App.css */

/* General body styling */
body {
    margin: 0;
    /* font-family: 'Arial', sans-serif; */
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Navbar styling */
  .navbar {
    background-color: #1c19a6;
    padding: 10px 20px;
  }
  
  .navbar a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
  }
  .navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .navbar a:hover {
    text-decoration: underline;
  }
  
  /* Home page */
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .home h1 {
    font-size: 3em;
    color: #161f98;
  }
  
  .home p {
    font-size: 1.5em;
    color: #6b06f0;
  }
  
  /* Submit Recipe Page */
  .submit-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #161f98;
  }
  
  .submit-recipe input,
  .submit-recipe textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .submit-recipe button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .submit-recipe button:hover {
    background-color: #218838;
  }
  
  /* Browse Recipes */
  .browse-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #161f98;
  }
  
  .browse-recipes h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .recipe-card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    width: 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .recipe-card h3 {
    margin: 0 0 10px 0;
  }
  
  .recipe-card p {
    margin: 0;
  }
  